@import "tailwindcss";

body {
  background-color: #630102;
}

.tag h3 {
  color: #630102;
}

h1,
h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #edebde;
}
h2,
h4,
p,
span {
  font-family: "Poppins", sans-serif;
  color: #edebde;
}
.three-container {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 4;
}

.sidebarText1,
.sidebarText2 {
  writing-mode: sideways-lr;
}
